@model IEnumerable<Aplikacija.Models.Seminar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @*<div>
            <input />
        <a asp-action="Get" asp-route-id="">Pretraga</a>

        </div>*@
</p>
@* <from method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Pretrazi</button>
        </div>
    </div>
</from>*@
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popunjen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojPrijavljenih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Predbiljezbas" asp-action="Create" asp-route-idSeminara="@item.IdSeminar">Predbiljezi se</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                @if (item.Popunjen)
                {
                    <td>Popunjen</td>
                }
                else
                {
                    <td>Slobodan</td>
                }
                @*     @if (item.BrojPrijavljenih > 2)
                    {
                        <td>Nema slobodnih mjesta</td>
                    }
                    else
                    {
                        <td>Ima slobodnih mjesta</td>
                    } *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdSeminar">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdSeminar">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdSeminar">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
